unstructured[pdf]
python-docx
faiss-cpu
langchain
langchain-community
langchain-ollama
langchain-core
langchain-text-splitters
sentence-transformers
streamlit
pytest
fastapi
uvicorn[standard]
python-multipart
